{% extends "base.html" %}
{% block title %} Afficher Books {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Isbn</th>
                    <th>Titre</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Publieur</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_Books }}</td>
                    <td>{{ row.Isbn_Books }}</td>
                    <td>{{ row.Titre_Books|default("", True) }}</td>
                    <td>{{ row.Country_Books|default("", True) }}</td>
                    <td>{{ row.Date_Books|default("", True) }}</td>
                    <td>{{ row.Publieur_Books("", True) }}</td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}